<div class="container mx-auto my-8 px-4">
  <div>
    <%= form_with(model: Club, url: clubs_path, method: :get) do |f| %>
      <%= f.text_field :search, label: false, value: params.dig(:clubs_filter, :search) %>
      <%= f.submit "Chercher", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Clubs</h1>

    <% if @clubs.any? %>
      <%= link_to t("shared.scaffold.new.title", model: "Clubs"), new_club_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @clubs.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @clubs, :name, "name", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @clubs, :sport, "sport", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @clubs, :city, "city", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>

        <tbody>
        <% @clubs.each do |club| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
            <td class="p-3"><%= club.name %></td>
            <td class="p-3"><%= club.sports.first.name if club.sports.present? %></td>
            <td class="p-3"><%= club.city %></td>
            <td>
              <%= link_to t("shared.scaffold.view"), club, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Clubs</p>
        <%= link_to t("shared.scaffold.new.title", model: "Clubs"), new_club_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
