<%= form_with(model: event) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <%= form.hidden_field(:club_id, value: "#{@club.id}") if @club %>
  <div class="form-group">
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, value: @club&.address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, value: @club&.city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :postal_code, "Code postal" %>
    <%= form.text_field :postal_code, value: @club&.postal_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :banner, "Photo de bannière" %>
    <div class="form-group  mt-1">
      <%= form.file_field :banner, accept:'image/*', class: "text-white" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :photo %>
    <div class="form-group  mt-1">
      <%= form.file_field :photo, accept:'image/*', class: "text-white" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :start_date, "Date de début" %>
    <%= form.text_field :start_date, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, "Date de fin" %>
    <%= form.text_field :end_date, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>
  
  <div class="form-group">
    <%= form.label :sport, "sport" %>
    <%= form.collection_select :sport_id, Sport.all(&:name).order(:name),:id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :event_type, "type" %>
    <%= form.select :event_type, Event::EVENT_TYPES %>
  </div>



  <div class="form-group flex justify-between">
    <%= form.button "Créez un évenement", class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to t("delete"), form.object, class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
