<header class="pt-56 lg:pt-72 pb-24 lg:pb-14 px-4 md:px-0 h4 bg-cover bg-center flex items-center mt:justify-center text-white shadow z-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
          <% if @event.banner.attached? %>
            <%= cl_image_path(@event.banner.key) %>
          <% elsif @event.image_url.present? %>
            <%= @event.image_url %>
          <% else %>
            <%= @event&.sport&.image_url %>
          <% end %>)">

    <div class="md:w-2/3 md:mx-auto">
      <h1 class="h2 mb-2"><%= @event.name %></h1>
      <span class="font-bold"><%= format_date_prettify(@event.start_date) %></span><span class="font-normal"> | <%= @event.postal_code %> <%= @event.city %></span>
      <div class="flex gap-1 mt-3">
        <%= link_to '#' do %>
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0C6.71573 0 0 6.93959 0 15.5C0 24.0604 6.71573 31 15 31C23.2843 31 30 24.0604 30 15.5C30 6.93959 23.2843 0 15 0ZM11.7021 7.28329C12.5554 7.24316 12.8281 7.23334 15.0008 7.23334H14.9983C17.1716 7.23334 17.4433 7.24316 18.2966 7.28329C19.1483 7.32359 19.73 7.46292 20.24 7.66735C20.7667 7.87832 21.2117 8.16077 21.6567 8.62061C22.1017 9.0801 22.375 9.54132 22.58 10.085C22.7767 10.6107 22.9117 11.2114 22.9517 12.0914C22.99 12.9732 23 13.255 23 15.5001C23 17.7452 22.99 18.0263 22.9517 18.9081C22.9117 19.7878 22.7767 20.3887 22.58 20.9145C22.375 21.458 22.1017 21.9192 21.6567 22.3787C21.2122 22.8386 20.7665 23.1217 20.2405 23.3328C19.7315 23.5373 19.1495 23.6766 18.2978 23.7169C17.4445 23.757 17.1726 23.7668 14.9998 23.7668C12.8272 23.7668 12.5547 23.757 11.7014 23.7169C10.8499 23.6766 10.2684 23.5373 9.75938 23.3328C9.23354 23.1217 8.7872 22.8386 8.3427 22.3787C7.89786 21.9192 7.62452 21.458 7.42002 20.9143C7.22235 20.3887 7.08752 19.788 7.04835 18.9079C7.00968 18.0261 7.00002 17.7452 7.00002 15.5001C7.00002 13.255 7.01002 12.9731 7.04818 12.0913C7.08652 11.2115 7.22152 10.6107 7.41985 10.0849C7.62486 9.54132 7.89819 9.0801 8.3432 8.62061C8.78787 8.16094 9.23421 7.8785 9.76038 7.66735C10.269 7.46292 10.8504 7.32359 11.7021 7.28329Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2831 8.72305C14.4225 8.72283 14.5724 8.7229 14.7341 8.72297L15.0008 8.72305C17.1368 8.72305 17.39 8.73097 18.2335 8.77059C19.0135 8.80744 19.4368 8.94212 19.7188 9.05527C20.0922 9.20511 20.3583 9.38422 20.6382 9.67356C20.9182 9.96289 21.0915 10.2385 21.2368 10.6242C21.3463 10.9153 21.4769 11.3527 21.5124 12.1587C21.5507 13.0302 21.559 13.292 21.559 15.4982C21.559 17.7044 21.5507 17.9661 21.5124 18.8376C21.4767 19.6436 21.3463 20.0811 21.2368 20.3721C21.0918 20.7579 20.9182 21.0326 20.6382 21.3218C20.3582 21.6111 20.0923 21.7902 19.7188 21.94C19.4372 22.0537 19.0135 22.188 18.2335 22.2249C17.3901 22.2645 17.1368 22.2731 15.0008 22.2731C12.8646 22.2731 12.6114 22.2645 11.7681 22.2249C10.9881 22.1877 10.5647 22.053 10.2826 21.9399C9.90923 21.79 9.64256 21.6109 9.36256 21.3216C9.08256 21.0322 8.90922 20.7574 8.76389 20.3714C8.65439 20.0804 8.52388 19.6429 8.48838 18.8369C8.45005 17.9655 8.44238 17.7037 8.44238 15.4961C8.44238 13.2885 8.45005 13.0281 8.48838 12.1567C8.52405 11.3507 8.65439 10.9132 8.76389 10.6218C8.90889 10.236 9.08256 9.96048 9.36256 9.67115C9.64256 9.38181 9.90923 9.2027 10.2826 9.05252C10.5646 8.93885 10.9881 8.80451 11.7681 8.76749C12.5061 8.73304 12.7921 8.72271 14.2831 8.72099V8.72305ZM19.2712 10.0957C18.7412 10.0957 18.3111 10.5395 18.3111 11.0873C18.3111 11.635 18.7412 12.0793 19.2712 12.0793C19.8012 12.0793 20.2312 11.635 20.2312 11.0873C20.2312 10.5397 19.8012 10.0953 19.2712 10.0953V10.0957ZM10.8924 15.5001C10.8924 13.1556 12.7318 11.2548 15.0006 11.2548C17.2695 11.2548 19.1085 13.1556 19.1085 15.5001C19.1085 17.8446 17.2696 19.7445 15.0008 19.7445C12.7319 19.7445 10.8924 17.8446 10.8924 15.5001Z" fill="white"/>
            <path d="M15.0007 12.7445C16.4734 12.7445 17.6674 13.9781 17.6674 15.5001C17.6674 17.0219 16.4734 18.2557 15.0007 18.2557C13.5278 18.2557 12.334 17.0219 12.334 15.5001C12.334 13.9781 13.5278 12.7445 15.0007 12.7445Z" fill="white"/>
          </svg>
        <% end %>
        <%= link_to '#' do %>
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4606 0C6.92194 0 0 6.92194 0 15.4606C0 23.9992 6.92194 30.9212 15.4606 30.9212C23.9992 30.9212 30.9212 23.9992 30.9212 15.4606C30.9212 6.92194 23.9992 0 15.4606 0ZM17.0721 16.1397V24.5511H13.5918V16.14H11.8531V13.2414H13.5918V11.5011C13.5918 9.13644 14.5736 7.7303 17.363 7.7303H19.6852V10.6292H18.2337C17.1478 10.6292 17.076 11.0343 17.076 11.7903L17.0721 13.2411H19.7017L19.394 16.1397H17.0721Z" fill="white"/>
          </svg>
        <% end %>
      </div>
    </div>
</header>
<div class="relative px-4 md:px-0 lg:w-2/3 mx-auto md:w-2/3 md:mx-auto lg:grid lg:grid-cols-3 mt-6 gap-y-10">
  <div class="lg:absolute -mt-24 mb-6 lg:m-0 right-0 -top-40 lg:w-1/3 bg-white rounded-xl">
    <div class="flex flex-col items-start gap-4 py-6 px-8">
      <h3>Détails de l'évènement</h3>
      <div class="bg-yellow-500 rounded-lg py-2 px-3 flex gap-2 items-center text-white font-black">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.121 13.536C10.95 15.488 9.051 15.488 7.879 13.536C6.707 11.583 6.707 8.417 7.879 6.464C9.05 4.512 10.949 4.512 12.121 6.464M6 8.5H10M6 11.5H10M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <% if @event.is_free? %>
          <span>Gratuit</span>
        <% else %>
          <span><%= @event.price %></span>
        <% end %>
      </div>
      <div class="grid grid-cols-8 gap-x-2 gap-y-4">
      <% if @event.website.present? %>
        <div class="col-span-1 grid place-items-center">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 10C19 12.3869 18.0518 14.6761 16.364 16.364C14.6761 18.0518 12.3869 19 10 19M19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1M19 10H1M10 19C7.61305 19 5.32387 18.0518 3.63604 16.364C1.94821 14.6761 1 12.3869 1 10M10 19C11.657 19 13 14.97 13 10C13 5.03 11.657 1 10 1M10 19C8.343 19 7 14.97 7 10C7 5.03 8.343 1 10 1M10 1C7.61305 1 5.32387 1.94821 3.63604 3.63604C1.94821 5.32387 1 7.61305 1 10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <span class="font-bold col-span-7"><%= @event.website %></span>
      <% end %>
      <% if @event.mail.present? %>
        <div class="col-span-1 grid place-items-center">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4L8.89 9.26C9.21866 9.47928 9.6049 9.5963 10 9.5963C10.3951 9.5963 10.7813 9.47928 11.11 9.26L19 4M3 15H17C17.5304 15 18.0391 14.7893 18.4142 14.4142C18.7893 14.0391 19 13.5304 19 13V3C19 2.46957 18.7893 1.96086 18.4142 1.58579C18.0391 1.21071 17.5304 1 17 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V13C1 13.5304 1.21071 14.0391 1.58579 14.4142C1.96086 14.7893 2.46957 15 3 15Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <span class="flex items-center gap-2 font-bold col-span-7"><%= @event.mail %></span>
      <% end %>
      <% if @event.address.present? %>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.657 16.657L13.414 20.9C13.2284 21.0857 13.0081 21.2331 12.7656 21.3336C12.523 21.4342 12.2631 21.4859 12.0005 21.4859C11.738 21.4859 11.478 21.4342 11.2354 21.3336C10.9929 21.2331 10.7726 21.0857 10.587 20.9L6.343 16.657C5.22422 15.5382 4.46234 14.1127 4.15369 12.5609C3.84504 11.009 4.00349 9.40051 4.60901 7.93873C5.21452 6.47694 6.2399 5.22754 7.55548 4.34851C8.87107 3.46947 10.4178 3.00029 12 3.00029C13.5822 3.00029 15.1289 3.46947 16.4445 4.34851C17.7601 5.22754 18.7855 6.47694 19.391 7.93873C19.9965 9.40051 20.155 11.009 19.8463 12.5609C19.5377 14.1127 18.7758 15.5382 17.657 16.657V16.657Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M15 11C15 11.7956 14.6839 12.5587 14.1213 13.1213C13.5587 13.6839 12.7956 14 12 14C11.2044 14 10.4413 13.6839 9.87868 13.1213C9.31607 12.5587 9 11.7956 9 11C9 10.2044 9.31607 9.44129 9.87868 8.87868C10.4413 8.31607 11.2044 8 12 8C12.7956 8 13.5587 8.31607 14.1213 8.87868C14.6839 9.44129 15 10.2044 15 11V11Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="col-span-7 font-bold"><%= humanized_address(@event) %></span>
      <% end %>
      </div>
    </div>
  </div>
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, class:"h-56 w-full object-cover rounded-b-xl" %>
    <% end %>
  <% if @event.description.present? %>
  <div class="col-span-2 row-start-1 pr-6">
    <h3>Présentation</h3>
    <span><%= @event.description %></span>
  </div>
  <% end %>
  <% if @event.sponsors.any? %>
    <div class="col-span-2 row-start-2">
      <h3>Partenaires</h3>
      <% @event.sponsors.each do |sponsor| %>
        <%= link_to sponsor.sponsor_url do %>
          <img src="<%= sponsor.image_url %>" alt="">
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @event.event_type %>
    <div class="col-span-2 row-start-2">
      <h3>Type</h3>
      <p><%= @event.event_type %></p>

    </div>
  <% end %>
  <% if current_user && @event.organizer == current_user %>
    <div class="col-span-2 row-start-4">
      <%= link_to 'Supprimer', event_path(@event), method: :delete, class:'bg-red-500 py-2 px-4 rounded text-white font-semibold hover:text-white hover:bg-red-400' %>
      <%= link_to 'Edit', edit_event_path(@event), class:'bg-yellow-500 py-2 px-4 rounded text-white font-semibold hover:text-white hover:bg-yellow-400' %>
      <%= link_to 'Back', events_path, class:'bg-yellow-500 py-2 px-4 rounded text-white font-semibold hover:text-white hover:bg-yellow-400' %>
    </div>
  <% end %>
</div>

