<div class="container mx-auto">
  <div>
    <%= form_with(model: Event, url: events_path, method: :get, class:"w-1/3 my-4 sm:flex sm:items-center") do |f| %>
      <%= f.text_field :search, label: false,
                                name: "search",
                                class: "form-control",
                                placeholder: "Recherchez",
                                value: params.dig(:search) %>
      <%= f.submit "Chercher", class: "btn btn-primary mt-1  ml-2" %>
    <% end %>
  </div>
  <h2 class="my-4">sports:</h2>
  <div role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <% @sports.each do |sport| %>
      <%= link_to events_path(sport: sport.name) do %>
      <div class="h-64 h4 bg-cover bg-center flex items-center justify-center text-white shadow rounded-xl" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= sport.image_url %>)">
        <%= sport.name %>
      </div>
      <% end %>
    <% end %>
  </div>

  <h2 class="my-4">Last events:</h2>
  <div role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <% @events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="h-64 h4 bg-cover bg-center flex items-center justify-center text-white shadow rounded-xl" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= event.image_url %>)">
          <%= event.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
